@import url(fonts.css);

/* ROOT */
:root {
  --color-lightblue: #F1F9FF;
  --color-black: #021B31;
  --color-gray: #F8F8F8;
  --border-color: #ECECEC;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
  display: block;
}
body {
  padding: 30px 0;
  font-family: 'Verdana';
  background-color: white;
  font-size: 14px;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  box-sizing: content-box;
  padding: 0 10px;
}

.title {
  font-weight: 700;
}

.img {
  width: 25px;
}

.img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.icon {
  width: 25px;
}

.icon svg {
  width: 100%;
  height: 100%;
  display: block;
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.players__container{
  max-width: 1000px;
}
.team__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.team__icon {
  margin-right: 10px;
}

.team__button:hover .team__icon {
  animation: rotate .3s ease;
}

.team__button._loading .team__icon {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}

.team-table__wrapper {
  overflow-x: auto;
}

.team-table {
  width: 100%;
  background-color: #ffffff;
  border-spacing: 0;
  border: 2px solid black;
  color: var(--color-black);
}

.team-table tr {
  text-align: center;
}

.team-table thead {
  box-shadow: 0 10px 8px rgba(2, 27, 49, 0.2);
  position: relative;
  z-index: 2;
  height: 70px;
}

.team-table thead th {
  padding: 0 10px;
}


.team-table tbody td {
  padding: 0 10px;
}

.team-table tbody {
  position: relative;
}

.team-table tbody::before {
  transition: all .3s ease;
  position: absolute;
  content: '';
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
}

.team-table tbody._loading::before {
  opacity: 1;
  visibility: visible;
}
.team-table__link{
  text-align: left;
}
.team-table__link a{
  display: inline-flex;
  align-items: center;
}
.team-table__img {
  min-width: 70px;
  margin: 0 20px 0 0;
}